.card-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin: 10px 0;
}

.card-wrapper:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: beige;
    /* transform: translateX(-5px); */
}
